---
layout: main
title: Blog
lang: en
---

	{% assign grouped_posts=site.posts | where:"lang", page.lang | group_by: "category" %}
	<ul>
	{% for category in grouped_posts %}
		<h2>{{category.name}}</h2>
		{% for post in category.items %}
    		<li>
        		<a href="{{ post.url }}">{{ post.title }}</a>
			{% if post.lang == "en" %} {{ post.date | date_to_long_string: "ordinal" }}
			{% elsif post.lang == "es" %} 
				{% capture es_date %}
					{{ post.date | date: "%-d" }}
					{% assign m = post.date | date: "%-m" | minus: 1 %}
					{{ site.data.months.es[m] }}
					{{ post.date | date: "%Y" }}
				{% endcapture %}
				{{ es_date }}
			{% endif %}
    		</li>
    		{{ post.excerpt }}
		{% endfor %}
	{% endfor %}
	</ul>
