---
---

@import "custom/variables";
@import "bootstrap/bootstrap";

body {
	background-color: $white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.22rem;
	color: $secondary;
}


// Text styles

h1, h2, h3, h4, h5, h6 {
	font-family: 'Unica One', cursive;
}

article {
	p:first-of-type {
		margin-top: 5em;
	}

	p:first-of-type:first-letter {
		color: $light-green;
		font-size: 5em;
		line-height: 0.8em;
		font-family: 'Unica One', serif;
	   	
	}

}

.footnotes {

	p:first-of-type {
		margin-top: 1em;
	}

	p:first-of-type:first-letter {
		color: $dark;
		font-size: 1em;
		line-height: 1em;
		font-family: 'Montserrat', sans-serif;
	}

}


article, .textual-content {
	h1 {
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: center;
		color: $dark;
	}

	h2, h3, h4, h5, h6 {
		color: $dark;
		text-align: left;
	}
       

	strong {
		color: $dark;
	}

	a {
		color: $dark;
		background-color: $light;
	}

	a:hover {
		background-color: $light-green;
	}
	
	p {
		text-align: justify;
	}

	ul {
  	list-style: none; /* Remove default bullets */
	}

	ul li::before {
  		content: "–"; 
  		color: $pink; 
  		font-weight: bold; 
  		display: inline-block; 
  		width: 2em;
  		margin-left: -1em; 
}
}



#page-title {
   font-size: 3rem;
   color: $primary;  /* Fallback: assume this color ON TOP of image */
   background-image: url({{ "assets/img/text-bg-1.png" | absolute_url }});
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#post-title {
	font-size: 2.5rem;
	color: $primary;
	width:100%;
	text-align: center;
	margin: 1.5em 0;
}

.post-list h2 {
	color: $primary;
	margin-top: 2.5rem;
}

@include media-breakpoint-up(md) { 
	#page-title {
		font-size: 5rem;
	}

	#post-title, .post-list h2 {
		font-size: 2em;
		line-height: 0.1em;
		border-bottom: 1px solid $light;
		margin: 4rem 0 3rem;
	}
	
	#post-title span, .post-list span {
		padding:10px 30px;
		background-color: $white;
		color: $primary;
	}
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

#org-buttons {
	margin-top: 10vh;
	a {
		color: $white;
		background-color: $light-green;
	}

	a:hover {
		background-color: $secondary;
		}
}

// Tables

table {
	width: 100%;
	margin: 1.5em 0;
	border-bottom: 1px solid $light-green;
	font-size: 0.6em;
}

td, th {
	padding: 0.5em;
}

th {
	border-bottom: 1px solid $light-green;
	border-top: 1px solid $light-green;
	background-color: $white;
}

tr:hover {
	background-color: lighten($light, 10%);
}

td:hover {
	background-color: lighten($light, 8%);
}

@include media-breakpoint-up(md) {
	table {
		font-size: 0.9em;
	}
}

// Code, blockquote, etc ---

pre {
	padding: 1em;
}

blockquote {
	padding: 0.5em 1em 0.5em 2em;
	background-color: $light;
	color: #666;
	
	p:first-of-type:first-letter {
		color: inherit;
		font-size: inherit;
		font-family: inherit;
	}
}


// Links

a:hover {
	text-decoration: none;
}

// Lists ------

ul.post-list {
	list-style-type: none;
}

.post-list li {
	padding-left: 1rem;
}
.post-list li:hover, .post-item-list:hover {
	background-color: lighten( $light, 10% );

	a {
		color: $red;
	}

	margin-bottom: 0;
}

.post-item {
	margin-bottom: 0;
	padding-bottom: 0;
}


.spacious-separator {
	padding: 0 0.5em;
	background-color: transparent;
}


@include media-breakpoint-up(md) {
	ul.post-list {
		padding-left: 3rem;
	}
	.spacious-separator{
		margin: 0 1.5em;
	}
}


// Images

article {
	img {
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

hr {
	max-width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}

// Navigation bar

.material-icons {
	color: $red;
}

.navbar-nav .nav-item a {
	color: darken($light, 15%);
	margin-right: 2em;
}

.navbar-nav .nav-item a:hover {
	color: darken($light, 50%);
}

.navbar-text {
	text-decoration: None; 
	color: $red;
	a {
		color: darken($light, 20%);
	}
}

.navbar-text a:hover {
	color: darken($light, 50%);
}

.navbar-nav .nav-item.active a {
	color: darken($light, 40%);
}

#active-lang {
	color: darken($light, 50%);
}

// Rows and cols

#content-col {
	background-image: url({{ "assets/img/bg-1.png" | absolute_url }});
	margin-bottom: 3vh;
}

main, nav {
	background-color: $white;
	margin: 0 1.3rem;
	padding: 1rem 0.5rem 5rem;
}

main {
	min-height: 65vh;
	padding: 1rem;
}

@include media-breakpoint-up(md) {
        main, nav {
                margin: 0 4rem;
		padding: 2rem;
        }
}


.post-list {
	padding-top: 2rem;
}

// ---- to-top button 

#totoparrow {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 10px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 3px solid $light; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $primary; /* Set a background color */
  color: $white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 15px 5px 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

  .material-icons {
	  color: $light;
	  text-decoration: none;
  };

  .material-icons:hover {
	  color: $white;
	  text-decoration: none;
  }
}

#totoparrow:hover {
  background-color: $red;
}

